
.slider{
    width: 1200px;
    height: 830px;
    border-radius: 10px;
    overflow: hidden;

    
}

.slides{
    width: 500%;
    height: 500px;
    display: flex; 
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;

}

/* manual slide navigation */
.navigation-manual{
    position: absolute;
    width: 1200px;
    /* margin-top: -40px; */
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #04b0cf;
    padding: 5px; 
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #04b0cf;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/* manual slide navigation */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 1200px;
    justify-content: center;
   /* margin-top: 460px; */
   margin-top: 540px;
}

.navigation-auto div{
    border: 2px solid #04b0cf;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #04b0cf;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #04b0cf;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #04b0cf;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #04b0cf;
}
/*
                                    <div class="slider">
										<div class="slides">
											
												<!-- Radio buttons start -->
												<input type="radio" name="radio-btn" id="radio1">
												<input type="radio" name="radio-btn" id="radio2">
												<input type="radio" name="radio-btn" id="radio3">	
												<input type="radio" name="radio-btn" id="radio4">
												<!-- Radio buttons end -->
											
											<!--  start -->
											<div class="slide first">
												<img src="images/GraphReachability01.PNG" alt="GraphReachability01">
											</div>	
											<div class="slide">
												<img src="images/GraphReachability02.PNG" alt="GraphReachability02">
											</div>
											<div class="slide">
												<img src="images/GraphReachability03.PNG" alt="GraphReachability03">
											</div>
											<div class="slide">
												<img src="images/GraphReachability04.PNG" alt="GraphReachability04">
											</div>
											<!-- end -->

											<!-- Automatic navigation start -->
											<div class="navigation-auto">
												<div class="auto-btn1"></div>
												<div class="auto-btn2"></div>
												<div class="auto-btn3"></div>
												<div class="auto-btn4"></div>
											</div>
											<!-- Automatic navigation end -->
										</div>

										<!-- Manual navigation start -->
										<div class="navigation-manual">
											<label for="radio1" class="manual-btn"></label>
											<label for="radio2" class="manual-btn"></label>
											<label for="radio3" class="manual-btn"></label>
											<label for="radio4" class="manual-btn"></label>
										</div>
										<!-- Manual navigation end -->

									</div>
									<!-- Slider Div end -->
*/